<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/main.css">

    <title>Todos SSR</title>
</head>

<body>
    <a href="/todo">Back to list</a>
    <h1><%= (todo._id)? 'Update Todo' : 'Add Todo' %></h1>
    <form action="/todo/save" method="post">
        <input type="hidden" name="_id" value="<%= todo._id%>">

        <input type="text" name="txt" value="<%= todo.txt%>" placeholder="What Todo?" />

        <label>
            <input name="isDone" value="true" type="checkbox" <%= (todo.isDone)? 'checked' : '' %> />
            Done
            
        </label>

        <button>Save</button>
    </form>
</body>

</html>